.zoom-container {
    position: relative;
    width: 100%;
    cursor: zoom-in;
}

.zoom-image {
    width: 100%;
    display: block;
    border-radius: 10px;
}

/* ZOOM WINDOW */

.zoom-lens {
    position: absolute;
    top: 0;
    left: 105%;

    width: 450px;
    height: 450px;

    border-radius: 10px;
    border: 1px solid #eee;

    background-repeat: no-repeat;
    background-size: 200%;

    box-shadow: 0 10px 40px rgba(0, 0, 0, .2);
}